
TPC_Ferrante_Gonzalez/.vs/TPC_Ferrante_Gonzalez/config/applicationhost.config
TPC_Ferrante_Gonzalez/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TPC_Ferrante_Gonzalez/obj/Debug/TPC_Ferrante_Gonzalez.csprojAssemblyReference.cache
Negocio/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
