.opcoines {
    color: red;
    padding: 1rem 1rem;
}

.logo {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.bg-primary.sidebar-usuarios{
    background-color:dimgray;
}
.di-flex.contenedor-sidebar {
    min-height: 100vh;
    width: 18rem;
    background-color:dimgray;
}
.imglogo {
    max-width: 150px;
    min-width: 120px;
    max-height: 150px;
    min-height: 120px;
    border-radius: 60%;
}